.App {
  text-align: center;
}

.AppName {
    display: "flex";
    justify-content: "space-around";
    border: "3px solid black";
    padding: "8px";
    width: "90%";
    margin: "15px";
  
}

.Nav {
  display: "flex";
  text-align: center;
  justify-content: "space-around";
  border: "3px solid black";
  padding: "8px";
  width: "90%";
  margin: "auto";

}

.location-tile {
  border: 1px solid black;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  border-radius: 10px;
}








